@media (max-width: 700px){
    .container{ 
        display: flex;
        flex-direction:column; 
        align-items: flex-end;
        justify-content: center;
        
        
    }


   .blok {

        border-radius: 50%;
        background-image: url('responsive-chat.png');
        background-position: center;
        background-repeat: no-repeat;
        margin-left: auto;
        background-size: 90px;
     
    
         }
     p{
        display: none;
     }    
}
 