body{
    background-color: blue;
}

@media (max-width:300px){
    body{
        background-color: white;
    }
}
@media (min-width:875px){
    body{
        background-color:green;
    }
}
@media (min-width:300px) and (max-width:875px){
    p{
       font-size: 50px;
    }
}