.container{
    border: 4px solid black;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.blok{
     
    width:200px;
    height:200px;
}
.red{
    background-color: red;
  
}
.green{
    background-color:green;
  }
.yelow{
    background-color:yellow;
    
    
}