
.container{
    border: 4px solid black;
    background-color: rgb(203, 195, 195);
    width:auto;
    height:90vh;
    display: flex; 
   

}
header{
    background-color: white;
    position: absolute; 
    width:72%;
    height: 40px;
    font-size: 20px;
    margin: 20px 35px;
    padding: 15px 30px;
    

}
.first-nav ul{
    display: flex;
    justify-content: end;

}
.first-nav li{
    justify-content: flex-end;
}

.blok{
     position: relative; 
}
h1{
    position: relative;
    color:white;
    font-size:70px;
    padding: 50px 50px;
}
 img{
    width: 1200px;
    height: 500px;
    position: absolute;
    margin: 10px 10px;
    margin-top: 90px;
    padding: 20px 20px;
}
.liste{
    background-color: white;
    width: 20%;
    margin: 80px  5px ;
    font-weight: bold;
    font-size: 20px;
    color: rgb(41, 40, 40);
    display: flex;
    flex-direction:  column;
    justify-content: center;
}
.liste ul li {
   justify-items: flex-end;
}

    footer {
        background-color: rgb(133, 59, 59);
        position: absolute; 
        
       
       font-size: 20px;
        margin: 20px 20px;
       padding: 5
       0px ;
       width: 50%; 
       height: 70px;
       bottom: 0;
       left: 0; 
       right: 0;

}
.second-nav ul{
    display: flex;
    justify-content: end;

}
.second-nav li{
    justify-content: flex-end;
}