
.container{
    border: 4px solid black;
    display: flex;
    flex-wrap: wrap;
}
.blok{
    width: 20%;
    height: 20vh;
}
.red{
    background-color: red;
    

}
.green{
    background-color:green;
   
}
.yelow{
    background-color:yellow;
   
    
}